.card-container {
  padding: 2.75rem 9.375rem 2.65rem 9.375rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  justify-items: stretch;
  align-items: stretch;
  position: absolute;
}

@media only screen and (max-width: 600px) {

  .card-container {
    grid-template-columns: 1fr;
    margin: auto;
    height: 300px;
    width: 80%;
    padding: 1rem 10vw;
  }

}