@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,500&display=swap');

section {
  margin-top: 73px;
  display: flex;
  justify-content: center;
}

.button_active {
  padding: 3px 39px 0 40px;
  border-radius: 2px;
  border: solid 1px #1797ff;
  height: 31px;
  background-color: white;
  cursor: pointer;
}

.text_active {
  width: 19px;
  height: 28px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #1797ff;
}

.button_inactive {
  height: 31px;
  padding: 3px 16px 0 17px;
  border-radius: 2px;
  border: solid 1px #d6d6d6;
  cursor: pointer;
}

.text_inactive {
  width: 65px;
  height: 28px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #606060;
}

@media screen and (max-width: 600px) {
  section {
    margin-top: 35px;
  }
}